@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --bg-color: #000;
  --text-color: #fff;
  --bg-image: url("/darkBg.svg");
  --selectedUser-color: rgba(40, 33, 66, 0.5);
  --iconsInvert: invert(0);
  --inputBar-color: rgba(243, 244, 246, 0.12);
}

/* LIGHT MODE */

[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
  --bg-image: url("/lightBg.svg");
  --selectedUser-color: rgba(40, 33, 66, 0.2);
  --iconsInvert: invert(1);
  --inputBar-color: rgba(200, 200, 200, 0.5);
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: contain;
  width: 100%;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s, background-image 0.3s;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* HOMEPAGE */

.homePage-wrapper {
  margin: 5% 10%;
  border: 2px solid #4b5563;
  border-radius: 1rem;
  backdrop-filter: blur(24px);
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
}

.userSelected {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.noUserSelected {
  display: grid;
}

/* MEDIA QUERIES */
@media (max-width: 1280px) {
  .homePage-wrapper {
    height: 90vh;
  }
}

@media (min-width: 768px) {
  .userSelected {
    grid-template-columns: 1fr 1.5fr 1fr;
  }

  .noUserSelected {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .userSelected {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .homePage-wrapper {
    margin: 0 0 0 0;
    height: 100vh;
  }
}
